[color]
	ui = auto
[user]
	name = Swann Perarnau
	email = perarnau@riken.jp
[alias]
	wdiff = diff --colors-words
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
[core]
	editor = vim
