!!xterm config
xterm*utf8: 1
xterm*background: black
xterm*foreground: white
xterm*faceName: DejaVu Sans Mono
xterm*faceSize: 9


xterm*color0:      #2E3436
xterm*color1:      #CC0000
xterm*color2:      #4E9A06
xterm*color3:      #C4A000
xterm*color4:      #3465A4
xterm*color5:      #75507B
xterm*color6:      #06989A
xterm*color7:      #D3D7CF
xterm*color8:      #555753
xterm*color9:      #EF2929
xterm*color10:     #8AE234
xterm*color11:     #FCE94F
xterm*color12:     #729FCF
xterm*color13:     #AD7FA8
xterm*color14:     #34E2E2
xterm*color15:     #EEEEEC

!!urxvt config
URxvt.background: #002b36
URxvt.foreground: #839496
URxvt.font: xft:DejaVu Sans Mono:size=10:antialias=True, xft:WenQuanYi Micro Hei:size=10:antialias=True
URxvt.scrollBar: False
URxvt*urgentOnBell: true
URxvt*buffered: false

!!Source http://github.com/altercation/solarized
 
!!*fading: 40
*fadeColor: #002b36
*cursorColor: #93a1a1
*pointerColorBackground: #586e75
*pointerColorForeground: #93a1a1

!! black dark/light
*color0: #073642
*color8: #002b36

!! red dark/light
*color1: #dc322f
*color9: #cb4b16

!! green dark/light
*color2: #859900
*color10: #586e75

!! yellow dark/light
*color3: #b58900
*color11: #657b83

!! blue dark/light
*color4: #268bd2
*color12: #839496

!! magenta dark/light
*color5: #d33682
*color13: #6c71c4

!! cyan dark/light
*color6: #2aa198
*color14: #93a1a1

!! white dark/light
*color7: #eee8d5
*color15: #fdf6e3
