!!xterm config
xterm*utf8: 1
xterm*faceName: DejaVu Sans Mono
xterm*faceSize: 10

!!urxvt config
URxvt.font: xft:DejaVu Sans Mono:size=10:antialias=True, xft:WenQuanYi Micro Hei:size=10:antialias=True
URxvt.scrollBar: False
URxvt*urgentOnBell: true
URxvt*buffered: false
URxvt.print-pipe: "cat > /dev/null"

!! rofi config
rofi.theme: /usr/share/rofi/themes/solarized_alternate.rasi
rofi.location: 1
rofi.lines: 5
rofi.width: 100
rofi.font: DejaVu Sans Mono 10
